﻿@using kalbe.datamodels
@model Produk
@{

	ViewData["Title"] = "Create Product";
}

<div class="card">
	<div class="card-body">
		<div class="card-title">@ViewData["Title"]</div>
		<form asp-action="Create" method="post" id="form_input">
			<div class="mb-4 row">
				<label for="TxtProductName" class="col-sm-4 col-form-label">Product Name</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="TxtProductName" name="TxtProductName" value="@Model.TxtProductName">
					<span id="validateProductName" class="text-danger"></span>
				</div>
			</div>
			<div class="mb-4 row">
				<label for="IntQty" class="col-sm-4 col-form-label">Quantity</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="IntQty" name="IntQty" value="@Model.IntQty">
				</div>
			</div>
			<div class="mb-4 row">
				<label for="DecPrice" class="col-sm-4 col-form-label">Price</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="DecPrice" name="DecPrice" value="@Model.DecPrice">
				</div>
			</div>

			<div class="modal-footer">
				<div class="col-sm-12">
					<a class="btn btn-outline-secondary btn-rounded" asp-controller="Product" asp-action="Index">Back to List</a>
					<button type="submit" style="float:right" class="btn btn-primary btn-rounded">Submit</button>
				</div>
			</div>
		</form>

	</div>
</div>

<script>



	$("#form_input").validate({
		errorClass: "text-danger",
		rules: {
			TxtProductName: {
				required: true,
				minlength: 3,
			},
			IntQty: {
				required: true,
				number: true,
				min:0
			},
			DecPrice: {
				required: true,
				number: true,
			}
		},
		messages: {
			TxtProductName: {
				required: "Please fill name product!",
				minlength: "The Name must consist of at least 3 character!",
			},
			IntQty: {
				required: "Please fill Quantity",
				number: "Please fill number only",
				min: "gaboleh < 0",
			},
			DecPrice: {
				required: "Please fill Quantity",
				number: "Please fill number only",
			}
		},
		submitHandler: function (form) {
			var dataForm = $(form).serialize();
			var ProductName = $("#TxtProductName").val();

			$.ajax({
				url: "/Product/CheckNameIsExist",
				//method: "GET"
				type: "GET",
				data: { ProductName: ProductName },
				dataType: "json",
				success: function (respon) {
					if (respon) {
						$("#validateProductName").text("Name Product is already exist")
						return true
					}
					else {
						fungsiSubmit(dataForm)
					}
				}
			})
		}
	})

	function fungsiSubmit(dataParam) {
		$.ajax({
			url: "/Product/Create",
			type: "POST",
			dataType: "json",
			data: dataParam,
			success: function (respon) {
				var data = respon.dataRespon
				if (data.success) {
					$(".modal").modal("hide")

					toastr.success(
						data.message,
						'',
						{
							timeOut: 500,
							fadeOut: 500,
							onHidden: function () {
								window.location.reload()
							}
						}
					)
				}
				else {
					toastr.error(data.message)
				}
			}
		})
	}

</script>

