﻿@using kalbe.datamodels
@model Produk
@{

	ViewData["Title"] = "Detail Product";
}

<div class="card">
	<div class="card-body">
		<div class="card-title">@ViewData["Title"]</div>
		<div class="mb-4 row">
			<label for="DtInserted" class="col-sm-6 col-form-label">Create Date</label>
			<div class="col-sm-6">
				<input type="text" class="form-control" id="DtInserted" name="DtInserted" value="@Model.DtInserted" readonly>
			</div>
		</div>
		<div class="mb-4 row">
			<label for="TxtProductCode" class="col-sm-6 col-form-label">Product Code</label>
			<div class="col-sm-6">
				<input type="text" class="form-control" id="TxtProductCode" name="TxtProductCode" value="@Model.TxtProductCode" readonly>
			</div>
		</div>
		<div class="mb-4 row">
			<label for="TxtProductName" class="col-sm-6 col-form-label">Product Name</label>
			<div class="col-sm-6">
				<input type="text" class="form-control" id="TxtProductName" name="TxtProductName" value="@Model.TxtProductName" readonly>
			</div>
		</div>
		<div class="mb-4 row">
			<label for="IntQty" class="col-sm-6 col-form-label">Quantity</label>
			<div class="col-sm-6">
				<input type="text" class="form-control" id="IntQty" name="IntQty" value="@Model.IntQty" readonly>
			</div>
		</div>
		<div class="mb-4 row">
			<label for="DecPrice" class="col-sm-6 col-form-label">Price</label>
			<div class="col-sm-6">
				<input type="text" class="form-control" id="DecPrice" name="DecPrice" value="@Model.DecPrice" readonly>
			</div>
		</div>
	</div>
</div>




