﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KALBE</title>

    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/template/assets/images/favicon.png">
    <!-- All Jquery -->
    <script src="https://unpkg.com/feather-icons"></script>
    <script src="~/template/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>

    <!-- Custom CSS -->
    <link href="~/template/assets/extra-libs/c3/c3.min.css" rel="stylesheet">
    <link href="~/template/assets/libs/chartist/dist/chartist.min.css" rel="stylesheet">
    <link href="~/template/assets/extra-libs/jvector/jquery-jvectormap-2.0.2.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="~/template/dist/css/style.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
         data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">

        <partial name="_Header" />
        <partial name="_Sidebar" />

        <div class="page-wrapper">
            <div class="container-fluid">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>

            <footer class="footer text-center text-muted">
                All Rights Reserved by Adminmart. Designed and Developed by <a href="https://wrappixel.com">WrapPixel</a>.
            </footer>
        </div>

    </div>





    <!-- ============================================================== -->
    <!-- Modal 1 -->
    <!-- ============================================================== -->
    <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Modal 2-->
    <!-- ============================================================== -->
    <div class="modal fade" id="modal_sm" tabindex="-1"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-body" id="modal_body_sm">
                    ...
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!--Modal Large-->
    <!-- ============================================================== -->
    <div class="modal fade" id="modal_lg">
        <div class="modal-dialog modal-dialog-scrollable modal-lg">
            <div class="modal-content">
                <div class="modal-body" id="modal_body_lg">
                    ...
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    @*spinner*@
    <!-- ============================================================== -->
    <div class="modal fade" id="modal_load">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body text-center" id="modal_load_body">
                    <div class="spinner-grow text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <h3>Please wait..</h3>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->



    <script src="~/template/assets/libs/popper.js/dist/umd/popper.min.js"></script>
    <script src="~/template/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- apps -->
    <!-- apps -->
    <script src="~/template/dist/js/app-style-switcher.js"></script>
    <script src="~/template/dist/js/feather.min.js"></script>
    <script src="~/template/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
    <script src="~/template/dist/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="~/template/dist/js/custom.min.js"></script>
    <!--This page JavaScript -->
    <script src="~/template/assets/extra-libs/c3/d3.min.js"></script>
    <script src="~/template/assets/extra-libs/c3/c3.min.js"></script>
    <script src="~/template/assets/libs/chartist/dist/chartist.min.js"></script>
    <script src="~/template/assets/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>
    <script src="~/template/assets/extra-libs/jvector/jquery-jvectormap-2.0.2.min.js"></script>
    <script src="~/template/assets/extra-libs/jvector/jquery-jvectormap-world-mill-en.js"></script>
    <script src="~/template/dist/js/pages/dashboards/dashboard1.min.js"></script>

</body>
</html>
