﻿@using kalbe.datamodels
@model Customer
@{

	ViewData["Title"] = "Create Customer";
}

<div class="card">
	<div class="card-body">
		<div class="card-title">@ViewData["Title"]</div>
		<form asp-action="Create" method="post" id="form_input">
			<div class="mb-4 row">
				<label for="TxtCustomerName" class="col-sm-4 col-form-label">Customer Name</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="TxtCustomerName" name="TxtCustomerName" value="@Model.TxtCustomerName">
					<span id="validateCustomerName" class="text-danger"></span>
				</div>
			</div>
			<div class="mb-4 row">
				<label for="TxtCustomerAddress" class="col-sm-4 col-form-label">Customer Address</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="TxtCustomerAddress" name="TxtCustomerAddress" value="@Model.TxtCustomerAddress">
				</div>
			</div>
			<div class="mb-4 row">
				<label for="BitGender" class="col-sm-4 col-form-label">Gender</label>
				<div class="col-sm-8">
					<select id="BitGender" name="BitGender" class="form-control">
						<option value="">-- Choose Gender --</option>
						<option value="true">Male</option>
						<option value="false">Female</option>
					</select>
				</div>
			</div>
			<div class="mb-4 row">
				<label for="DtmBirthDate" class="col-sm-4 col-form-label">Birth Date</label>
				<div class="col-sm-8">
					<input type="date" class="form-control" id="DtmBirthDate" name="DtmBirthDate" value="@Model.DtmBirthDate">
				</div>
			</div>

			<div class="modal-footer">
				<div class="col-sm-12">
					<a class="btn btn-outline-secondary btn-rounded" asp-controller="Customer" asp-action="Index">Back to List</a>
					<button type="submit" style="float:right" class="btn btn-primary btn-rounded">Submit</button>
				</div>
			</div>
		</form>

	</div>
</div>

<script>



	$("#form_input").validate({
		errorClass: "text-danger",
		rules: {
			TxtCustomerName: {
				required: true,
				minlength: 3,
			},
			TxtCustomerAddress: "required",
			BitGender: "required",
			DtmBirthDate: "required"
		},
		messages: {
			TxtProductName: {
				required: "Please fill name customer!",
				minlength: "The Name must consist of at least 3 character!",
			},
			TxtCustomerAddress: "Please fill name customer!",
			BitGender: "Choose your gender",
			DtmBirthDate: "Please fill your birth date"
		},
		submitHandler: function (form) {
			var dataForm = $(form).serialize();
			var CustomerName = $("#TxtCustomerName").val();

			$.ajax({
				url: "/Customer/CheckNameIsExist",
				//method: "GET"
				type: "GET",
				data: { CustomerName: CustomerName },
				dataType: "json",
				success: function (respon) {
					if (respon) {
						$("#validateCustomerName").text("Name Customer is already exist")
						return true
					}
					else {
						fungsiSubmit(dataForm)
					}
				}
			})
		}
	})

	function fungsiSubmit(dataParam) {
		$.ajax({
			url: "/Customer/Create",
			type: "POST",
			dataType: "json",
			data: dataParam,
			success: function (respon) {
				var data = respon.dataRespon
				if (data.success) {
					$(".modal").modal("hide")

					toastr.success(
						data.message,
						'',
						{
							timeOut: 500,
							fadeOut: 500,
							onHidden: function () {
								window.location.reload()
							}
						}
					)
				}
				else {
					toastr.error(data.message)
				}
			}
		})
	}

</script>

