﻿@using kalbe.datamodels
@model Customer
@{

	ViewData["Title"] = "Detail Customer";
}

<div class="card">
	<div class="card-body">
		<div class="card-title">@ViewData["Title"]</div>
			<div class="mb-4 row">
				<label for="TxtCustomerName" class="col-sm-6 col-form-label">Customer Name</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" id="TxtCustomerName" name="TxtCustomerName" value="@Model.TxtCustomerName" readonly>
					<span id="validateCustomerName" class="text-danger"></span>
				</div>
			</div>
			<div class="mb-4 row">
				<label for="TxtCustomerAddress" class="col-sm-6 col-form-label">Customer Address</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" id="TxtCustomerAddress" name="TxtCustomerAddress" value="@Model.TxtCustomerAddress" readonly>
				</div>
			</div>
			<div class="mb-4 row">
				<label for="Gender" class="col-sm-6 col-form-label">Gender</label>
				<div class="col-sm-6">
					@if (@Model.BitGender == true)
					{
						<input type="text" class="form-control" value="Male" readonly>
					}
					else
					{
						<input type="text" class="form-control" value="Female" readonly>						
					}
				</div>
			</div>
			<div class="mb-4 row">
				<label for="DtmBirthDate" class="col-sm-6 col-form-label">Birth Date</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" id="DtmBirthDate" name="DtmBirthDate" value="@Model.DtmBirthDate.ToString("dd MMMM yyyy")" readonly>
				</div>
			</div>
	</div>
</div>


